@keyframes icon-cross-before {
    0% {
        transform: rotate(45deg);
    }

    4% {
        transform: rotate(45deg);
    }

    8% {
        transform: rotate(45deg);
    }

    18% {
        transform: rotate(47deg);
    }

    20% {
        transform: rotate(45deg);
    }

    28% {
        transform: rotate(41deg);
    }

    30% {
        transform: rotate(41deg);
    }

    38% {
        transform: rotate(51deg);
    }

    40% {
        transform: rotate(53deg);
    }

    60% {
        transform: rotate(-8deg);
    }

    62% {
        transform: rotate(-7deg);
    }

    70% {
        transform: rotate(2deg);
    }

    72% {
        transform: rotate(2deg);
    }

    80% {
        transform: rotate(0deg);
    }

    82% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(0deg);
    }

    92% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}



@keyframes icon-cross-after {
    0% {
        transform: rotate(-45deg);
    }

    4% {
        transform: rotate(-45deg);
    }

    8% {
        transform: rotate(-45deg);
    }

    18% {
        transform: rotate(-47deg);
    }

    20% {
        transform: rotate(-45deg);
    }

    28% {
        transform: rotate(-41deg);
    }

    30% {
        transform: rotate(-41deg);
    }

    38% {
        transform: rotate(-51deg);
    }

    40% {
        transform: rotate(-53deg);
    }

    60% {
        transform: rotate(8deg);
    }

    62% {
        transform: rotate(7deg);
    }

    70% {
        transform: rotate(-2deg);
    }

    72% {
        transform: rotate(-2deg);
    }

    80% {
        transform: rotate(0deg);
    }

    82% {
        transform: rotate(2deg);
    }

    90% {
        transform: rotate(0deg);
    }

    92% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes icon-cross-before-out {
    0% {
        transform: rotate(45deg);
    }

    4% {
        transform: rotate(45deg);
    }

    8% {
        transform: rotate(45deg);
    }

    18% {
        transform: rotate(47deg);
    }

    20% {
        transform: rotate(45deg);
    }

    28% {
        transform: rotate(41deg);
    }

    30% {
        transform: rotate(41deg);
    }

    38% {
        transform: rotate(51deg);
    }

    40% {
        transform: rotate(53deg);
    }

    60% {
        transform: rotate(-8deg);
    }

    62% {
        transform: rotate(-7deg);
    }

    70% {
        transform: rotate(2deg);
    }

    72% {
        transform: rotate(2deg);
    }

    80% {
        transform: rotate(0deg);
    }

    82% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(0deg);
    }

    92% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}



@keyframes icon-cross-after-out {
    0% {
        transform: rotate(-45deg);
    }

    4% {
        transform: rotate(-45deg);
    }

    8% {
        transform: rotate(-45deg);
    }

    18% {
        transform: rotate(-47deg);
    }

    20% {
        transform: rotate(-45deg);
    }

    28% {
        transform: rotate(-41deg);
    }

    30% {
        transform: rotate(-41deg);
    }

    38% {
        transform: rotate(-51deg);
    }

    40% {
        transform: rotate(-53deg);
    }

    60% {
        transform: rotate(8deg);
    }

    62% {
        transform: rotate(7deg);
    }

    70% {
        transform: rotate(-2deg);
    }

    72% {
        transform: rotate(-2deg);
    }

    80% {
        transform: rotate(0deg);
    }

    82% {
        transform: rotate(2deg);
    }

    90% {
        transform: rotate(0deg);
    }

    92% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}